{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Visite Florianópolis</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home / Galeria</a>
        <a href="historia">História</a>
        <a href="atracoes">Atrações</a>
    </nav>
    <div class="conainer">
        <div class="galeriacontainer">
            <div class="galeria" id="imagem-grande"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <h4>Ponte Hercílio Luz</h4>
                <p>Ponte Hercílio Luz, ótimo lugar para visitar aos fins de semana para caminhar</p>
            </div>
        </div>
        <div class="galeriacontainer">
            <div class="galeria" id="imagem-grande"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <h4>Ponte Hercílio Luz</h4>
                <p>Ponte Hercílio Luz, ótimo lugar para visitar aos fins de semana para caminhar</p>
            </div>
        </div>
        <div class="galeriacontainer">
            <div class="galeria" id="imagem-grande"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <h4>Ponte Hercílio Luz</h4>
                <p>Ponte Hercílio Luz, ótimo lugar para visitar aos fins de semana para caminhar</p>
            </div>
        </div>
    </div>
</body>
</html>