{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Visite Florianópolis</title>
</head>
<body>
    <div class="navcontainer"><p>Conheça Florianópolis</p>
    <nav class="navbar" id="foto">
        <a href="/">Home / Galeria</a>
        <a href="historia">História</a>
        <a href="atracoes">Atrações</a>
    </nav>
</div>
    <div class="conainer">
        <div class="apresentacao">
            <H1>TETS</H1>
        <h2>Florianópolis</h2>
        <p>Florianópolis é uma das cidades mais bonitas para se visitar, contendo uma natureza espetacular e muita diversão.</p>
        <p>Bem-vindo a Ilha da Magia</p>
     </div>
    </div>
    <div class="galeriacontainer">
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
        <p>Ponte Hercílio Luz</p>
        </div>
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <p>Ponte Hercílio Luz</p>
            </div>
    </div>
    <div class="galeriacontainer">
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
        <p>Ponte Hercílio Luz</p>
        </div>
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <p>Ponte Hercílio Luz</p>
            </div>
    </div>
    <div class="galeriacontainer">
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
        <p>Ponte Hercílio Luz</p>
        </div>
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <p>Ponte Hercílio Luz</p>
            </div>
    </div>
    <div class="galeriacontainer">
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
        <p>Ponte Hercílio Luz</p>
        </div>
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <p>Ponte Hercílio Luz</p>
            </div>
    </div>
    <div class="galeriacontainer">
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
        <p>Ponte Hercílio Luz</p>
        </div>
        <div class="galeria"><img src="https://castelmar.hotelsantacatarina.com/data/Images/OriginalPhoto/15801/1580155/1580155471/image-florianopolis-castelmar-hotel-2.JPEG" alt="Ponte">
            <p>Ponte Hercílio Luz</p>
            </div>
    </div>
</body>
</html>